@font-face {
  font-family: "iconfont"; /* Project id 3634699 */
  src: url('iconfont.woff2?t=1664329096558') format('woff2'),
       url('iconfont.woff?t=1664329096558') format('woff'),
       url('iconfont.ttf?t=1664329096558') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiesuandingdan:before {
  content: "\f38f";
}

.icon-jiesuanduixiang:before {
  content: "\f390";
}

.icon-jiesuanmingxi:before {
  content: "\f391";
}

.icon-qiye:before {
  content: "\f392";
}

.icon-jiesuanguize:before {
  content: "\f393";
}

.icon-jiantouyou:before {
  content: "\f2a1";
}

.icon-jiantoushang:before {
  content: "\f2a2";
}

.icon-jiantouxia:before {
  content: "\f2a3";
}

.icon-jiantouzuo:before {
  content: "\f2a4";
}

.icon-shouqicaidan:before {
  content: "\f2b4";
}

.icon-zhankaicaidan:before {
  content: "\f2b5";
}

